


<div class="scrollHalf" *ngIf="eventDetail; else eventDetailLoading ">

  <div class="scrollHalf__grupo" data-scroll >
    <div class="scrollHalf__grupo__imagen">
      <carousel class="carousel-event" [images]="imagesEventCarousel" [arrowsTheme]="'dark'" [height]="heightCarousel"  [dots]="true" [transitionTimingFunction]="'ease-in-out'" [width]="800" [cellsToScroll]="1" [cellWidth]="widthCarousel" [loop]="true" [cellsToShow]="1" >

      </carousel>
    </div>
    <div class="scrollHalf__grupo__contenido">
      <h1>{{eventDetail[0].title}}</h1>

     <p class="resume_p">{{eventDetail[0].resume}}</p>
      <app-kefi-event-table-infos [eventD]="eventDetail"></app-kefi-event-table-infos>
     <!-- <app-buttons-participation-event></app-buttons-participation-event> !-->

    </div>



  </div>


</div>



  <ng-template #eventDetailLoading>
    <div class="kefi-loadingTime">
      <div class="spinner-load">
        <mat-spinner></mat-spinner>
      </div>


      <p>Chargement de la page</p>

    </div>
  </ng-template>
<!-- end section -->
<app-footer></app-footer>
