@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.scrollHalf { position: relative}
/*.scrollHalf__grupo { opacity: calc(1/(1+(var(--visible-y)*var(--visible-y)*var(--visible-y)*var(--visible-y)))); transition: all 200ms ease-in-out;}*/


.scrollHalf__grupo {  transition: all 200ms ease-in-out; }
.scrollHalf__grupo__imagen { overflow: hidden; }
.scrollHalf__grupo__contenido { padding: 3rem;     }


.scrollHalf__grupo[data-scroll="out"] { opacity: 0;}
.scrollHalf__grupo[data-scroll="in"] { opacity: calc(var(--visible-y)*1.9);  }


@media screen and (min-width:900px) {
  .scrollHalf__grupo { min-height: 100vh;}
  .scrollHalf__grupo__imagen { position: fixed; top: 0; left: 0; width: 50vw;}
  .scrollHalf__grupo__imagen img {  min-height: 100vh;  min-width: 50vw; }
  .scrollHalf__grupo__contenido { margin: 0 3vw 0 52vw;}
}


#event-detail-id{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.kefi-loadingTime{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  margin: 10% auto;
  text-align: center;
}
.spinner-load{
  margin: 0 auto;
}
.kefi-loadingTime p{
  margin: 5%;
  padding: 2%;
  width: 100%;
  font-size: 1.5rem;


}

img{
  width: 50%;
}

#event-title-id{
  margin-top: 10%;
}
h1, h2, h4, .meta-data {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 5%;
}

h1:first-of-type {
  font-family: "Old Standard TT", serif;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4em;
}

h1:last-of-type {

  font-size: 1.5rem;
  text-align: right;
  color: black;
}

h4 {
  font-weight: normal;
  font-size: 0.8em;
}

hr {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 2.42105263em;
  margin-bottom: 1.42105263em;
}
.scrollHalf__grupo__contenido{
  margin-top: 3%;
  padding: 5% 5% 5% 2%;
}

.resume_p {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  font-family: 'Merriweather', serif;
  text-align: justify;
}

i {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.meta-data {
  display: inline-block;
  background-color: #e74c3c;
  color: white;
  padding: 2px 4px;
}



.crew-members {
  display: flex;
}

.member {
  border-left: 8px solid #e74c3c;
  flex: 1;
  padding-left: 0.5em;
  box-sizing: border-box;
}
.member p {
  margin: 0;
  padding: 0;
  -webkit-column-count: 1;
}
.member .thumb {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50% 50% 50% 0;
}
.member .crew-text {
  font-size: 0.5em;
  width: 80%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
  .carousel-event{
    width: 80%;
  }

  .container{
    margin: 30% auto 30% auto;
  }
  p {

    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .resume_p {
    margin: 0 auto;
    width: 80%;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    font-family: 'Merriweather', serif;
    text-align: justify;
  }
  .crew-members {
    flex-flow: row wrap;
  }

  .member {
    margin-bottom: 20px;
    flex: 1 100%;
  }

  .scrollHalf__grupo__imagen{
    margin: 30% auto 30% auto;
    width: 100%;
    z-index: -1;




  }
}
