

<div id="about" class="section wb nopadtop" *ngIf="eventDetail">
  <div class="container">
    <h4>Evenement Kefi du {{eventDetail[0].event_date}}</h4>
    <h1>{{eventDetail[0].title}}</h1>
    <img class="profile" src="http://localhost:5000/kefi_{{eventDetail[0].main_photo}}">



    <h1> HOW TO BE BATMAN</h1>
    <p>{{eventDetail[0].resume}}</p>
    <hr>

    <div class="row">


          <div id="table-detailEvent">
          <app-kefi-event-table-infos [eventD]="eventDetail"></app-kefi-event-table-infos>
          </div>

          <app-buttons-participation-event></app-buttons-participation-event>
  <!--
          <app-comments-events-section></app-comments-events-section>
 !-->
        </div><!-- end messagebox -->

    <h2> MEET THE CREW</h2>
    <div class="member">
      <p>Ricky Bobby</p>
      <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/bat-mag-layout.JPG">
      <p class="crew-text">This is Ricky Bobby. He is awesome. Don't put a curse on him.</p>
      <p class="crew-text">
        @rickybobby
      </p>
    </div>

    </div><!-- end row -->


  </div><!-- end container -->
<!-- end section -->
<app-footer></app-footer>
