<div class="testbox">
  <form #updateData="ngForm" (ngSubmit)="updateDataUser()" novalidate>
    <div class="banner">
      <h1 id="welcome-title">Bienvenue {{userFirstName.first_name}}</h1>

    </div>

    <div class="question">
      <p>Sexe <span class="required">*</span></p>
      <div class="question-answer">
        <div>
          <input type="radio" value="homme"  id="homme" name="genre" ngModel required #genre ="ngModel" [class.is-invalid]="genre.invalid && genre.touched"  [(ngModel)]="newFormModel.genre"/>
          <label for="homme" class="radio"><span>Masculin</span></label>
        </div>
        <div>
          <input type="radio" value="femme" id="femme" name="genre"  ngModel required  #genre ="ngModel" [class.is-invalid]="genre.invalid && genre.touched"  [(ngModel)]="newFormModel.genre"  />
          <label for="femme" class="radio"><span>Feminin</span></label>
        </div>
      </div>
    </div>



    <div *ngIf="genre.errors && (genre.invalid && genre.touched)">
      <small class="warning-text" *ngIf="genre.touched && genre.errors">Vous devez renseigner votre sexe</small>

    </div>

    <div class="item">
      <p>Localisation<span class="required">*</span></p>
      <div class="name-item">
        <input type="text" name="city" placeholder="Ville *" ngModel required #city="ngModel"  [class.is-invalid]="city.invalid && city.touched" [(ngModel)]="newFormModel.city"/>
        <input type="text" name="postal_code" placeholder="Code postal *" ngModel required #postal_code="ngModel"  [class.is-invalid]="postal_code.invalid && postal_code.touched" [(ngModel)]="newFormModel.postal_code"/>
        <input type="text" name="country" placeholder="Pays *" ngModel required #country="ngModel"  [class.is-invalid]="country.invalid && country.touched" [(ngModel)]="newFormModel.country"/>
      </div>


        <small class="warning-text" *ngIf="city.touched && city.errors">Vous devez renseigner votre ville</small>
        <small class="warning-text" *ngIf="postal_code.touched && postal_code.errors">Vous devez renseigner votre code postal</small>
        <small class="warning-text" *ngIf="country.touched && country.errors">Vous devez renseigner votre Pays</small>



    </div>
    <div class="contact-item">
      <div class="item">

        <input type="text" placeholder="Profession *" name="titleJob" ngModel required #titleJob="ngModel"  [class.is-invalid]="titleJob.invalid && titleJob.touched" [(ngModel)]="newFormModel.jobTitle"/>
      </div>

      <div *ngIf="titleJob.errors && (titleJob.invalid || titleJob.touched)">
        <small class="warning-text" *ngIf="titleJob.touched && titleJob.errors">Votre profession est requise</small>


      </div>


    </div>




      <div class="position-item" *ngIf="JsonJobData" >
      <select id="job_domain" name="job_domain" ngModel required #job_domain="ngModel" [class.is-invalid]="job_domain.invalid && job_domain.touched"   [(ngModel)]="newFormModel.subjectJob">
        <option value=""  disabled selected >Choisir un domaine d'activité *</option>
        <optgroup *ngFor="let group of JsonJobData" label="{{group.text}}">

          <option *ngFor="let child of group.children"   [value]="child.text" >{{child.text}}</option>

        </optgroup>

      </select>


      <div *ngIf="job_domain.errors && (job_domain.invalid || job_domain.touched)">
        <small class="warning-text" *ngIf="job_domain.touched && job_domain.errors">Votre domaine de profession est requis</small>

      </div>
      </div>
      <div class="company-item">


          <input type="text" placeholder="Entreprise / société * (Lieu de travail)" name="company"  #company="ngModel"  [class.is-invalid]="company.invalid && company.touched" [(ngModel)]="newFormModel.company"/>

        <div *ngIf="bdate.errors && (bdate.invalid || bdate.touched)">
          <small class="warning-text" *ngIf="bdate.touched && bdate.errors">Le lieu de travail est requis</small>

        </div>
      </div>


      <div class="birth-item">

        <p>Date de naissance<span class="required">*</span></p>
        <mat-form-field appearance="fill">
          <mat-label>Choisir une date</mat-label>
          <input name="bdate"  matInput [matDatepicker]="picker" ngModel required #bdate="ngModel"  [class.is-invalid]="bdate.invalid && bdate.touched" [(ngModel)]="newFormModel.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div *ngIf="bdate.errors && (bdate.invalid || bdate.touched)">
        <small class="warning-text" *ngIf="bdate.touched && bdate.errors">Votre Date de naissance est requise</small>

      </div>

    <div class="question">
      <p>Ce que vous rechercher lors de nos évenements<span class="required">*</span></p>
      <div class="looking-for-class">
        <label for="expendNetWok">Développer mon réseau</label>
        <input class="input_looking-for" type="checkbox" id="expendNetWok" name="expendNetWok" value="expendNetWok" #expendNetwork [(ngModel)]="newFormModel.lookingFor.networkExpenssion">

      </div>

      <div class="looking-for-class">
        <label for="getSomeContract">Obtenir des contrats</label>
        <input class="input_looking-for" type="checkbox" id="getSomeContract" name="getSomeContract" value="getContracts" #getContracts [(ngModel)]="newFormModel.lookingFor.getSomeContract">
      </div>

      <div class="looking-for-class">
        <label for="findPartners">Trouver des partenaires</label>
        <input class="input_looking-for" type="checkbox" id="findPartners" name="findPartners" value="findPartners" #findPartners [(ngModel)]="newFormModel.lookingFor.findpartners">

      </div>

      <div class="looking-for-class">
        <label for="findPartners">Je souhaite pitcher mon projet</label>
        <input class="input_looking-for" type="checkbox" id="pitchProject" name="pitchProject" value="pitchProject" #pitchProject [(ngModel)]="newFormModel.lookingFor.pitchProject">
      </div>

      <div class="looking-for-class">
        <label for="other">Autres</label>
        <input class="input_looking-for" type="checkbox" id="other" name="other" value="other" #other [(ngModel)]="newFormModel.lookingFor.other">
      </div>


    </div>

      <div class="item" id="description-user">

      <textarea cols="30"  placeholder="Description profil" name="description" id="description" type="text" #description ="ngModel"  [(ngModel)]="newFormModel.description"></textarea>

    </div>
    <div class="item">
      <input type="text" placeholder="Lien vers Linkedin" name="linkedin"  #linkedin ="ngModel" [pattern]="regexLinkedin" [(ngModel)]="newFormModel.linkedinAddress"/>
    </div>

    <div *ngIf="linkedin.errors">

      <small class="warning-text" *ngIf="linkedin.errors.pattern">Le lien Linkedin doit etre valide</small>
    </div>

    <div class="item">
      <p>Photo du Profil :</p>
      <input type="file" name="file" (change)="onFileSelect($event)">
    </div>
    <div class="question">
      <p>Visibilité du profil public <span class="required">*</span></p>
      <div class="question-answer">
        <div>
          <input class="input_looking-for" type="radio" value="1"  id="radio_5" name="references" ngModel required #references ="ngModel"  [(ngModel)]="newFormModel.profileVisibility"/>
          <label for="radio_5" class="radio"><span>Oui</span></label>
        </div>
        <div>
          <input class="input_looking-for" type="radio" value="0" id="radio_6" name="references" ngModel required  #references ="ngModel"  [(ngModel)]="newFormModel.profileVisibility"  />
          <label for="radio_6" class="radio"><span>Non</span></label>
        </div>
      </div>
    </div>

    <div class="question">
      <p>Inscription à notre newsLetter <span class="required">*</span></p>
      <div class="question-answer">
        <div>
          <input type="radio" value="1" id="radio_newsLetter1" name="newsLetter"  ngModel required #newsLetter ="ngModel" [class.is-invalid]="newsLetter.invalid && newsLetter.touched"  [(ngModel)]="newFormModel.consentNewsLetter"  />
          <label for="radio_newsLetter1" class="radio"><span>Oui</span></label>
        </div>
        <div>
          <input type="radio" value="0" id="radio_newsLetter2" name="newsLetter" ngModel required  #newsLetter ="ngModel" [class.is-invalid]="newsLetter.invalid && newsLetter.touched" [(ngModel)]="newFormModel.consentNewsLetter"  />
          <label for="radio_newsLetter2" class="radio"><span>Non</span></label>
        </div>
      </div>
      <div *ngIf="newsLetter.errors && (newsLetter.invalid || newsLetter.untouched)">
        <small class="warning-text" *ngIf="newsLetter.touched && newsLetter.errors">Votre domaine de profession est requis</small>

      </div>
    </div>

<div id="flex_cgu">


  <label id="label-cgu" for="cgu"><a routerLink="/conditions_generales_utilisation" target="_blank">Je confirme avoir lu les Conditions générales d'utilisation<span class="required">*</span></a> </label>
    <input class="input_looking-for" type="checkbox" id="cgu" name="cguRead" value="1" ngModel required #cguRead="ngModel" [class.is-invalid]="cguRead.invalid && cguRead.touched" [(ngModel)]="newFormModel.readCgu">
    <div *ngIf="cguRead.errors && (cguRead.invalid || cguRead.untouched)">
      <small class="warning-text" *ngIf="cguRead.touched && cguRead.errors">Vous devez  avoir  lu les conditions générales d'utilisation</small>

    </div>
</div>

    <div *ngIf="updateData.form.invalid && updateData.form.touched">
      <p  class="warning-text">Verifier les champs munis *</p>

    </div>

    <div class="btn-block">
      <div id="button_form_login"><button [disabled]="updateData.form.invalid" type="submit" class='ghost-round full-width'>Enregistrer</button></div>

    </div>


  </form>
  <div class="spinner-load" *ngIf="checkPhotoSend === ''">
    <mat-spinner></mat-spinner>
  </div>

</div>

