<div class="testbox">
  <form #updateData="ngForm" (ngSubmit)="updateDataUser()" novalidate>
    <div class="banner">
      <h1>Bienvenue {{userFirstName.first_name}}</h1>
    </div>
    <div class="item">
      <p>Localisation<span class="required">*</span></p>
      <div class="name-item">
        <input type="text" name="city" placeholder="Ville" ngModel required #city="ngModel"  [class.is-invalid]="city.invalid && city.touched" [(ngModel)]="newFormModel.city"/>
        <input type="text" name="postal_code" placeholder="Code postal" ngModel required #postal_code="ngModel"  [class.is-invalid]="postal_code.invalid && postal_code.touched" [(ngModel)]="newFormModel.postal_code"/>
        <input type="text" name="country" placeholder="Pays" ngModel required #country="ngModel"  [class.is-invalid]="country.invalid && country.touched" [(ngModel)]="newFormModel.country"/>
      </div>


        <small class="warning-text" *ngIf="city.touched && city.errors">Vous devez nous renseignez sur votre ville</small>
        <small class="warning-text" *ngIf="postal_code.touched && postal_code.errors">Vous devez renseigner votre code postal</small>
        <small class="warning-text" *ngIf="country.touched && country.errors">Vous devez nous renseigner sur votre Pays</small>



    </div>
    <div class="contact-item">
      <div class="item">
        <p>Profession<span class="required">*</span></p>
        <input type="text" name="titleJob" ngModel required #titleJob="ngModel"  [class.is-invalid]="titleJob.invalid && titleJob.touched" [(ngModel)]="newFormModel.jobTitle"/>
      </div>

      <div *ngIf="titleJob.errors && (titleJob.invalid || titleJob.touched)">
        <small class="warning-text" *ngIf="titleJob.touched && titleJob.errors">Votre profession est requise</small>


      </div>


    </div>


    <div class="position-item" *ngIf="JsonJobData">

      <div class="position-item"  >

      <label for="job_domain">Choisisez votre domaine ou métier:</label>
      <select id="job_domain" name="job_domain" ngModel required #job_domain="ngModel" [class.is-invalid]="job_domain.invalid && job_domain.touched"   [(ngModel)]="newFormModel.subjectJob">

        <optgroup *ngFor="let group of JsonJobData" label="{{group.text}}">
          <option *ngFor="let child of group.children"   [value]="child.text" >{{child.text}}</option>

        </optgroup>

      </select>

      </div>
      <div *ngIf="job_domain.errors && (job_domain.invalid || job_domain.touched)">
        <small class="warning-text" *ngIf="job_domain.touched && job_domain.errors">Votre domaine de profession est requis</small>

      </div>

      <div class="company-item">
        <div class="item">
          <p>Société<span class="required">*</span></p>
          <input type="text" name="titleJob"  #company="ngModel"  [class.is-invalid]="titleJob.invalid && titleJob.touched" [(ngModel)]="newFormModel.company"/>
        </div>



      </div>


      <div class="item">
        <p>Date de naissance<span class="required">*</span></p>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input name="bdate"  matInput [matDatepicker]="picker" #bdate="ngModel"  [class.is-invalid]="bdate.invalid && bdate.touched" [(ngModel)]="newFormModel.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div *ngIf="bdate.errors && (bdate.invalid || bdate.touched)">
        <small class="warning-text" *ngIf="bdate.touched && bdate.errors">Votre Date de naissance est requise</small>

      </div>
    </div>
    <p>Form value: {{ newFormModel | json }}</p>
    <div class="question">
      <p>Ce que vous rechercher lors des évenements de l'association Kefi<span class="required">*</span></p>
      <div>
        <input type="checkbox" id="expendNetWok" name="expendNetWok" value="expendNetWok" #expendNetwork [(ngModel)]="newFormModel.lookingFor.networkExpenssion"
               checked>
        <label for="expendNetWok">Développer mon réseau</label>
      </div>

      <div>
        <input type="checkbox" id="getSomeContract" name="getSomeContract" value="getContracts" #getContracts [(ngModel)]="newFormModel.lookingFor.getSomeContract">
        <label for="getSomeContract">Obtenir des contrats</label>
      </div>

      <div>
        <input type="checkbox" id="findPartners" name="findPartners" value="findPartners" #findPartners [(ngModel)]="newFormModel.lookingFor.findpartners">
        <label for="findPartners">Trouvers des partenaires</label>
      </div>

      <div>
        <input type="checkbox" id="pitchProject" name="pitchProject" value="pitchProject" #pitchProject [(ngModel)]="newFormModel.lookingFor.pitchProject">
        <label for="findPartners">Je souhaite pitcher</label>
      </div>

      <div>
        <input type="checkbox" id="other" name="other" value="other" #other [(ngModel)]="newFormModel.lookingFor.other">
        <label for="other">Autres</label>
      </div>

      <textarea cols="30" name="description" #description ="ngModel"  [(ngModel)]="newFormModel.description"></textarea>
    </div>
    <div class="item">
      <p>Votre adresse Linkedin:</p>
      <input type="text" name="linkedin"  #linkedin ="ngModel" [pattern]="regexLinkedin" [(ngModel)]="newFormModel.linkedinAddress"/>
      <input type="file" name="file" (change)="onFileSelect($event)">
    </div>

    <div *ngIf="linkedin.errors">

      <small class="warning-text" *ngIf="linkedin.errors.pattern">Le Linkedin doit etre valide</small>
    </div>
    <div class="question">
      <p>Souhaitez vous que votre profil soit visible sur notre plateforme</p>
      <div class="question-answer">
        <div>
          <input type="radio"  id="radio_5" name="references" #references ="ngModel"  [(ngModel)]="newFormModel.profileVisibility"/>
          <label for="radio_5" class="radio"><span>Oui</span></label>
        </div>
        <div>
          <input type="radio" value="0" id="radio_6" name="references"  #references ="ngModel"  [(ngModel)]="newFormModel.profileVisibility"  />
          <label for="radio_6" class="radio"><span>Non</span></label>
        </div>
      </div>
    </div>

    <div class="question">
      <p>Inscription à notre newsLetter</p>
      <div class="question-answer">
        <div>
          <input type="radio" value="1" id="radio_newsLetter1" name="newsLetter" [value]="newFormModel.consentNewsLetter" ngModel required #newsLetter ="ngModel" [class.is-invalid]="newsLetter.invalid && newsLetter.touched"  [(ngModel)]="newFormModel.consentNewsLetter"  />
          <label for="radio_newsLetter1" class="radio"><span>Oui</span></label>
        </div>
        <div>
          <input type="radio" value="0" id="radio_newsLetter2" name="newsLetter" ngModel required  #newsLetter ="ngModel" [class.is-invalid]="newsLetter.invalid && newsLetter.touched" [(ngModel)]="newFormModel.consentNewsLetter"  />
          <label for="radio_newsLetter2" class="radio"><span>Non</span></label>
        </div>
      </div>
      <div *ngIf="newsLetter.errors && (newsLetter.invalid || newsLetter.untouched)">
        <small class="warning-text" *ngIf="newsLetter.touched && newsLetter.errors">Votre domaine de profession est requis</small>

      </div>
    </div>

    <div *ngIf="updateData.form.invalid && updateData.form.touched">
      <p  class="warning-text">Verifier les champs munis *</p>

    </div>

    <div class="btn-block">
      <div id="button_form_login"><button [disabled]="updateData.form.invalid" type="submit" class='ghost-round full-width'>Soumettre</button></div>

    </div>


  </form>
</div>
