<div class="container">
  <app-search-bar-member-area></app-search-bar-member-area>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let users of dataUsers ">
      <div class="our-team" >
        <div class="picture">
          <a routerLink="/membre/{{users.slug_url}}"><img class="img-fluid" src="http://localhost:5000/{{users.photo_url}}"></a>
        </div>
        <div class="team-content">
          <h3 class="name">{{users.first_name}} {{users.name}}</h3>
          <h4 class="title">{{users.job}}</h4>
        </div>
        <ul class="social">
          <li><a href="{{users.linkedin}}" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>


  </div>
</div>
<app-footer></app-footer>
