<header>
  <carousel class="carousel_header" [images]="images" [arrowsTheme]="'dark'" [height]="850" [autoplay]="true" [autoplayInterval]="5000"
            [transitionTimingFunction]="'ease-in-out'" [width]="1920" [cellsToScroll]="1" [cellWidth]="widthCarousel" [loop]="true"
            [overflowCellsLimit]="2" [arrows]="false" >
  </carousel>
  <div class="overlay">
    <h1 id="main-slogan">Le Business autrement</h1>
    <h3 id="reason-to-choose-us">Développer votre business sur la Côte d'Azur avec une vision différente</h3>
    <br>
    <button id="button-about-us" (click)="clickScrollToAbout()">En savoir +</button>
  </div>
</header>
