<!--Important link source from https://bootsnipp.com/snippets/ooa9M-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<footer id="dk-footer" class="dk-footer">
  <div class="container footer">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">

          <a href="index.html" class="footer-logo">
            <img class="logo_kefi" src="assets/logo_nav_kefii.png" alt="logo_kefi" title="logo_kefi">
          </a>
          <p class="footer-info-text">
            Kefi Association - Le Business autrement
          </p>
          <div class="footer-social-link">
            <h3>Follow us</h3>
            <ul>
              <li>
                <a href="https://www.facebook.com/Kefi.association/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="https://www.linkedin.com/company/kefi-association/?originalSubdomain=fr" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/invites/contact/?i=j74pwscc5rh9&utm_content=lus7knp" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social link -->
        </div>
        <!-- End Footer info -->

      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>Nice, Provence-Alpes-Côte d’Azur</h3>
                <p>179, Avenue Sainte-Marguerite</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>+33 6 12 61 27 67</h3>
                <p>Du lundi au vendredi de 9h30 à 18h00</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->


        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->


  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>KEFI Association © 2021, Tous droits réservés</span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a routerLink="/accueil">Accueil</a>
              </li>

              <li>
                <a routerLink="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>

</footer>


<footer id="footer-mobile">

  <div class="dk-footer-box-info">

    <a href="index.html" class="footer-logo">
      <img class="logo_kefi" src="assets/logo_nav_kefii.png" alt="logo_kefi" title="logo_kefi">
    </a>
    <p class="footer-info-text">
      Kefi Association - Le Business autrement
    </p>
    <div class="footer-social-link">
      <h3>Follow us</h3>
      <ul>
        <li>
          <a href="https://www.facebook.com/Kefi.association/" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/company/kefi-association/?originalSubdomain=fr" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/invites/contact/?i=j74pwscc5rh9&utm_content=lus7knp" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Social link -->
  </div>
</footer>
