<!--Important link source from https://bootsnipp.com/snippets/ooa9M-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
  <div class="container footer">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">

          <a href="index.html" class="footer-logo">
            <img class="logo_kefi" src="assets/logo_nav_kefii.png" alt="logo_kefi" title="logo_kefi">
          </a>
          <p class="footer-info-text">
            Kefi Association - Le Business autrement
          </p>
          <div class="footer-social-link">
            <h3>Follow us</h3>
            <ul>
              <li>
                <a href="https://www.facebook.com/Kefi.association/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="https://www.linkedin.com/company/kefi-association/?originalSubdomain=fr" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social link -->
        </div>
        <!-- End Footer info -->

      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>Nice, Provence-Alpes-Côte d’Azur</h3>
                <p>179, Avenue Sainte-Marguerite</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>+33 6 12 61 27 67</h3>
                <p>Du lundi au vendredi de 9h30 à 18h00</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Liens utiles</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a href="#">A propos</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Projects</a>
                </li>
                <li>
                  <a href="#">Notre équipes</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Contacter-nous</a>
                </li>
                <li>
                  <a href="#">Articles</a>
                </li>
                <li>
                  <a href="#">Testimonials</a>
                </li>
                <li>
                  <a href="#">Faq</a>
                </li>
              </ul>
            </div>
            <!-- End Footer Widget -->
          </div>

          <!--
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget">
              <div class="section-heading">
                <h3>Inscrivez vous à notre newsLetter</h3>
                <span class="animate-border border-black"></span>
              </div>
              <p>
                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>
              <form action="#">
                <div class="form-row">
                  <div class="col dk-footer-form">
                    <input type="email" class="form-control" placeholder="Adresse email">
                    <button type="submit">
                      <i class="fa fa-send"></i>
                    </button>
                  </div>
                </div>
              </form>


            </div>


          </div>
          !-->
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->


  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Copyright © 2021, Tous droits réservés</span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a routerLink="/acceuil">Acceuil</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a routerLink="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" style="display: block;">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- End Back to top -->
</footer>
