<div class="container">

    <div class="main-body" *ngIf="dataUser ; else loadingDetailMember">


      <!-- /Breadcrumb -->

      <div class="profil-position" *ngIf="dataUser">

        <div class="top-part">
          <div class="card">
            <div class="card-body">
              <div class="item-card" >
                <img *ngIf="dataUser[0].photo_url === defaultMenUrl || dataUser[0].photo_url === defaultWomanUrl ; else imgUser" src="https://mysterious-reaches-96425.herokuapp.com/{{dataUser[0].photo_url}}" alt="{{dataUser[0].photo_url}}" class="rounded-circle" width="150">
                <ng-template #imgUser>
                  <img src="https://waisatusbucket.s3.eu-west-3.amazonaws.com/users_kefi/{{dataUser[0].photo_url}}" alt="{{dataUser[0].photo_url}}" class="rounded-circle" width="150">
                </ng-template>
                <div class="card-member">
                  <h4>{{dataUser[0].first_name}}</h4>
                  <p class="text-secondary mb-1" *ngIf="dataUser[0].job">{{dataUser[0].job}}</p>
                  <p class="text-muted font-size-sm" *ngIf="dataUser[0].city "> {{dataUser[0].city}}, {{dataUser[0].postal_code}}, {{dataUser[0].country}}</p>
                  <!--
                  <button class="btn btn-primary">Follow</button>
                  <button class="btn btn-outline-primary">Message</button>
                  !-->
                </div>
              </div>
            </div>
          </div>
          <div class="card card-member">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" *ngIf="dataUser[0].linkedin">
                <h6 class="mb-0"><a href="{{dataUser[0].linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a> </h6>
              </li>

            </ul>
          </div>
        </div>

        <div class="data_user_infos">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Nom complet</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{dataUser[0].first_name}} {{dataUser[0].name}}
                </div>
              </div>
              <hr>

              <div class="row" *ngIf="dataUser[0].address">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Bay Area, San Francisco, CA
                </div>
              </div>
              <hr>

              <div class="row" *ngIf="dataUser[0].domain_job">
                <div class="col-sm-3">
                  <h6 class="mb-0">Domaine d'activité</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{dataUser[0].domain_job}}
                </div>
              </div>
              <hr>

              <div class="row" *ngIf="dataUser[0].job">
                <div class="col-sm-3">
                  <h6 class="mb-0">Profession</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{dataUser[0].job}}
                </div>
              </div>
              <hr>

              <div class="row" *ngIf="dataUser[0].company">
                <div class="col-sm-3">
                  <h6 class="mb-0">Entreprise / Société</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{dataUser[0].company}}
                </div>
              </div>
              <hr>


              <div class="row" *ngIf="parseLookingForInfos">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mes recherches</h6>
                </div>

                <ul>
                  <li *ngIf="parseLookingForInfos.networkExpenssion"> Je souhaite développer mon réseau</li>
                  <li *ngIf="parseLookingForInfos.findpartners"> Je souhaite trouver des investisseurs ou partenaires pour mon projet</li>
                  <li *ngIf="parseLookingForInfos.getSomeContract"> Je souhaite trouver des contrats</li>
                  <li *ngIf="parseLookingForInfos.pitchProject"> Je souhaite Pitcher mon projet</li>
                  <li *ngIf="parseLookingForInfos.other"> Autre raison</li>

                </ul>

              </div>
              <hr>

              <div class="row" *ngIf="dataUser[0].description">
                <div class="col-sm-3">
                  <h6 class="mb-0">Description</h6>
                </div>
                <div class="col-sm-9 description-text text-secondary">
                  {{dataUser[0].description}}
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  <ng-template #loadingDetailMember>
    <div class="kefi-loadingTime">
      <div class="spinner-load">
        <mat-spinner></mat-spinner>
      </div>


      <p>Chargement de la page</p>

    </div>
  </ng-template>
</div>
<app-footer></app-footer>
