<div id="about" class="about layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" src="assets/groupe.jpg" alt="#" />
      </div>
      <div class="col-md-6">
        <div class="heading margin_top_30">
          <h2>A propos de KEFI</h2>
        </div>
        <div class="full margin_top_20">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="full margin_top_30">
          <a class="main_bt" routerLink="/contact">Rejoignez-Nous</a>
        </div>
      </div>
    </div>
  </div>
</div>
