<div id="about" class="about layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" src="assets/groupe.jpg" alt="groupe" title="groupe"/>
      </div>
      <div class="col-md-6">
        <div class="heading margin_top_30">
          <h2>KEFI Association</h2>
        </div>
        <div class="full margin_top_20">
          <p>KEFI est une association implantée au sein du bassin méditerranéen qui a pour vocation de répondre à la question suivante:

            Qu’en est-il de la création de valeur et du business sur la côte d’azur ?

            C'est à cette problématique que veut répondre KEFI, le business autrement, en associant l'analytique à l'émotionnel, le plus ancien avec le renouveau et la start-up avec la multi nationale.</p>

           <p> KEFI (κέφι), vient du grec et signifie enthousiasme, passion et esprit de joie, et souhaite vous réunir dans les plus beaux endroits de la Côte d'Azur pour partager et faire du business en associant à chaque évènement un artiste de la région. Prendre du plaisir tout en développant son réseau.

            Quels que soient vos projets, KEFI vous permettra de rencontrer les acteurs  qui les feront grandir.


          </p>
        </div>
        <div class="full margin_top_30">
          <a class="main_bt" href=" https://kefi.assoconnect.com/collect/description/183508-l-kefi-association" target="_blank">Nous rejoindre</a>
        </div>
      </div>
    </div>
  </div>
</div>
