<div id="about" class="about layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" src="assets/groupe.jpg" alt="#" />
      </div>
      <div class="col-md-6">
        <div class="heading margin_top_30">
          <h2>A propos de KEFI</h2>
        </div>
        <div class="full margin_top_20">
          <p>KEFI, récemment créé par 7 fondateurs, est une association implantée au sein du bassin méditerranéen. Elle a pour vocation, en s’impliquant activement dans la vie économique de la région, d’amener une vision différente du business dans son ensemble.

            Son histoire :
            Alors que le monde est en perpétuel mouvement, avec une sensible accélération suite à la crise du covid, que les valeurs historiques semblent être remises en question, que l’environnement et la psychologie et le bien être en entreprise, pour ne citer qu’eux, reprennent une place prépondérante dans la valorisation des sociétés, qu’en est-il de la création de valeur et du business sur la côte d’azur ?
          </p>
        </div>
        <div class="full margin_top_30">
          <a class="main_bt" routerLink="/contact">Rejoignez-Nous</a>
        </div>
      </div>
    </div>
  </div>
</div>
