

  <div class="row" *ngIf="eventData">

    <ul class="SG">
      <li class="sgLi">
        <div class="box">

          <ul class="df">
            <li>Date : {{formatEventDate}} </li>
            <li>Début : {{eventData.start_hour}} </li>
            <li>Fin : {{eventData.end_hour}} </li>
            <li>Adresse : {{eventData.adress}} </li>
            <li>Code Postal : {{eventData.postal_code}} </li>
            <li>Ville : {{eventData.city}} </li>
          </ul>
        </div>
      </li>
    </ul>



  </div>

