

  <div class="row" *ngIf="eventData">

    <ul class="SG">
      <li class="sgLi">
        <div class="box">

          <ul class="df">
            <li>Date : {{eventData[0].event_date}} </li>
            <li>Début : {{eventData[0].start_hour}} </li>
            <li>Fin : {{eventData[0].end_hour}} </li>
            <li>Adresse : {{eventData[0].adress}} </li>
            <li>Code Postal : {{eventData[0].postal_code}} </li>
            <li>Ville : {{eventData[0].city}} </li>
          </ul>
        </div>
      </li>
    </ul>



  </div>

