@media (min-width: 500px) {
  form {
    position: relative;
    width: 30rem;
    border-radius: 20px;
    margin: 5% 0;
  }
  input,
  button {


    border: solid 3px black;
    color: black;
    font-size: 1.8rem;
  }
  input #search {

    outline: 0;
    width: 100%;
    background:red;
    padding: 0 1.6rem;
    border-radius: 20px;
    appearance: none;
    height: 100%;

    z-index: 1;
    position: relative;
  }
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: auto;
    font-weight: bold;
    background: green;
    border-radius: 0 10% 10% 0;
  }
  input:not(:placeholder-shown) {
    border-radius: 10% 0 0 10%;
    width: calc(100% - 10%);

  }

  input + button {
    display: block;
  }
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }


  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }
}


@media (max-width: 499px) {
  form {
    position: relative;
    width: 20%;
    border-radius: 20px;
    margin: 5% 20%;
  }
  input,
  button {


    border: solid 3px black;
    color: black;
    font-size: 1.2rem;
  }
  input #search {

    outline: 0;
    width: 100%;
    background:red;
    padding: 0 1.6rem;
    border-radius: 20px;
    appearance: none;
    height: 100%;

    z-index: 1;
    position: relative;
  }
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: auto;
    font-weight: bold;
    background: green;
    border-radius: 0 10% 10% 0;
  }
  input:not(:placeholder-shown) {
    border-radius: 10% 0 0 10%;
    width: calc(100% - 10%);

  }

  input + button {
    display: block;
  }
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }


  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }
}

/*
.filter-search-member{
  width: 100%;
}

form{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding {
  padding: 4rem !important
}



.select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:#333;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;

}

.option:hover {
  background:#666;
}

.select:focus .option {
  position:relative;
  pointer-events:all;
}



.searchBox {
  position: absolute;
  top: 40%;
  left: 70%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
*/
