<div class="row  padding filter-search-member">


<form role="search">
  <label for="search">Rechercher un membre</label>
  <input id="search" type="search" name="searchInput" placeholder="Rechercher un membre"  ngModel required #searchInput="ngModel"  [class.is-invalid]="searchInput.invalid && searchInput.touched" [(ngModel)]="optionSearch.searchName" (keyup)="keyDownSearch()" autofocus />
</form>
<!--

  <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
{{optionSearch.searchName}}
    <form action="#" class="domain-form">
      <div id="selectJobform">
      <label for="job_domain">Choisisez votre domaine ou métier:</label>
      <select id="job_domain" name="job_domain"  >

        <optgroup *ngFor="let group of domainList" label="{{group.domain_name}}">
          <option *ngFor="let child of group.job"   [value]="child" >{{child}}</option>

        </optgroup>

      </select>
      </div>
      <div class="searchBox">

        <input id="searchByOption" class="searchInput" type="text" name="searchInput" placeholder="Search"  ngModel required #searchInput="ngModel"  [class.is-invalid]="searchInput.invalid && searchInput.touched" [(ngModel)]="optionSearch.searchName" (keydown)="keyDownSearch()">
        <button class="searchButton" href="#">
          <i class="material-icons">
            search
          </i>
        </button>
      </div>

    </form>

  </div>

</div>
!-->

