<div class='bold-line'>
<div class="message" *ngIf="validationConfirmPassword !== ''">
  <app-success-change-pw-message [dataPage]="resultConfirmPassword"  *ngIf="validationConfirmPassword === 'confirmation_change'" ></app-success-change-pw-message>
  <app-error-change-pw-message [dataError]="resultConfirmPassword" *ngIf="validationConfirmPassword === 'failed_change'"></app-error-change-pw-message>
</div>

<div class='container' *ngIf="this.tokenWaitResponse; else loadingTime">

  <div class='window'>
    <div class='overlay'></div>
    <div class='content' *ngIf="checkValue; else notValidate">
      <div class='welcome'>Saisissez votre nouveau mot de passe </div>
      <div class='input-fields'>
        <form #loginForm="ngForm" (ngSubmit)="confirmPassword()" novalidate>
          <input name="new_password" placeholder='mot de passe' class='input-line full-width' ngModel required #new_password="ngModel" [pattern]="patternPassword" type="password" [class.is-invalid]="new_password.invalid && new_password.touched" [(ngModel)]="newPassword.password">
          <div *ngIf="new_password.errors && (new_password.invalid || new_password.touched)">
            <small class="warning-text" *ngIf="new_password.touched && new_password.errors.required">Votre nouveau mot de passe est requis</small>
            <small class="warning-text" *ngIf="new_password.errors.pattern">Votre nouveau mot de passe doit contenir au minimum 8 caractères, à savoir : au moins une lettre minuscule et une lettre majuscule, un caractère spécial et un chiffre </small>

          </div>

          <input name="cpassword" placeholder='Confirmation de votre mot de passe' class='input-line full-width' ngModel required #cpassword="ngModel" [pattern]="patternPassword" type="password" [class.is-invalid]="cpassword.invalid && cpassword.touched" [(ngModel)]="newPassword.confirm_password">
          <div *ngIf="cpassword.errors && (cpassword.invalid || cpassword.touched)">
            <small class="warning-text" *ngIf="cpassword.touched && cpassword.errors.required">Vous devez confirmer votre mot de passe</small>
            <small class="warning-text" *ngIf="cpassword.errors.pattern">Votre confirmation de mot de passe doit contenir au minimum 8 caractères, à savoir : au moins une lettre minuscule et une lettre majuscule, un caractère spécial et un chiffre</small>

          </div>

          <div id="button_form_login"><button [disabled]="loginForm.form.invalid" type="submit" class='ghost-round full-width'>Confirmer</button></div>

        </form>
      </div>

    </div>

    <ng-template #notValidate >
      <div class='welcome notValidate'><p class="colorp">Ce lien pour le changement de votre mot de passe n'est plus valide </p></div>
    </ng-template>
  </div>
</div>






<ng-template #loadingTime>

  <mat-progress-spinner class="loading-wait" mode="indeterminate">
  </mat-progress-spinner>
</ng-template>
<app-footer></app-footer>
</div>
