

<div class="container">
  <div id="founders-contains"  *ngFor="let founder of allFounders">
<div class="flex-display-founders">
  <figure class="snip1559">
    <div class="profile-image"><a routerLink="/fondateur/{{founder.slug_id}}"><img src="http://localhost:5000/{{founder.img_founder}}" title="{{founder.img_founder}}" alt="profile-sample2" /></a></div>
    <figcaption>
      <h3>{{founder.first_name}} {{founder.last_name}}</h3>
      <h5>{{founder.job}}</h5>
      <p>{{founder.short_intro}}</p>
      <div class="icons"><a href="{{founder.linkedinLink}}"><i class="ion-social-linkedin"></i></a>
      </div>
    </figcaption>
  </figure>
</div>
  </div>
</div>



<app-footer></app-footer>
