

<div class="container" *ngIf="allFounders; else loadFounders">
  <div id="founders-contains" class="fonders-countains-class"  *ngFor="let founder of allFounders">
<div class="flex-display-founders" >
  <figure class="snip1559">
    <div class="profile-image"><a routerLink="/fondateur/{{founder.slug_id}}"><img src="https://waisatusbucket.s3.eu-west-3.amazonaws.com/funders/{{founder.img_founder}}" title="{{founder.img_founder}}" alt="profile-sample2" /></a></div>
    <figcaption>
      <h3>{{founder.first_name}} {{founder.last_name}}</h3>
      <h5>{{founder.job}}</h5>
      <p>{{founder.short_intro}}</p>
      <div *ngIf="founder.linkedinLink !== null" class="icons"><a href="{{founder.linkedinLink}}"><i class="ion-social-linkedin"></i></a>
      </div>
    </figcaption>
  </figure>
</div>

  </div>
</div>

<ng-template #loadFounders>
  <div class="kefi-loadingTime">
    <div class="spinner-load">
      <mat-spinner></mat-spinner>
    </div>
    <p>Chargement de la page</p>

  </div>
</ng-template>

<app-footer></app-footer>
