<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content' *ngIf="!getErrorValidationCode;else validationCodeErreur">
      <div class='welcome'>Confirmation de votre email</div>
      <div class='subtitle'>Veuillez saisir un mot de passe</div>
      <div class='subtitle'>Votre mot de passe doit contenir au minimum 8 caractères, à savoir : au moins une lettre minuscule et une lettre majuscule, un caractère spécial et un chiffre</div>
      <div class='input-fields'>
        <form #passwordFormMember="ngForm" (ngSubmit)="passwordConfirmation()" novalidate>

          <input name="password" placeholder='mot de passe' class='input-line full-width' ngModel required #password="ngModel" type="password" [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="UserPassword.password">
          <div *ngIf="password.errors && (password.invalid || password.touched)">
            <small class="warning-text" *ngIf="password.touched && password.errors.required">Le mot de passe est requis</small>
            <small class="warning-text" *ngIf="password.errors.pattern">Votre mot de passe doit contenir au minimum 8 caractères, à savoir : au moins une lettre minuscule et une lettre majuscule, un caractère spécial et un chiffre</small>

          </div>

          <input name="confirm_password" placeholder='confirmation de mot de passe' class='input-line full-width' ngModel required #cPassword="ngModel" [pattern]="patternPassword" type="password" [class.is-invalid]="cPassword.invalid && cPassword.touched" [(ngModel)]="UserPassword.confirm_password">
          <div *ngIf="cPassword.errors && (cPassword.invalid || cPassword.touched)">
            <small class="warning-text" *ngIf="cPassword.touched && cPassword.errors.required">Vous devez confirmez votre mot de passe</small>
            <small class="warning-text" *ngIf="cPassword.errors.pattern">Votre mot de passe de confirmation doit contenir au minimum 8 caractères, à savoir : au moins une lettre minuscule et une lettre majuscule, un caractère spécial et un chiffre </small>

          </div>


          <div *ngIf="passwordFormMember.form.invalid && passwordFormMember.form.touched">
            <p  class="warning-text">Tous les champs sont requis pour confirmer votre mot de passe</p>

          </div>


          <div *ngIf="passwordFormMember.form.valid">
            <p class="succes-entry">Mot de pass valide</p>

          </div>
          <div class="form-group row">

            <div class="button-confirm"><button [disabled]="passwordFormMember.form.invalid" type="submit" class='ghost-round full-width'>Confirmer votre mot de passe</button></div>


          </div>

        </form>
      </div>

    </div>

    <ng-template  #validationCodeErreur>
      <div class="content">
      <div class='welcome'>Bienvenue, Le précédent lien que nous vous avons envoyé n'est plus valide </div>
        <div class='subtitle'>Cliquer sur le bouton pour obtenir un nouveau code de validation.</div>
        <div class="message-resend-class" *ngIf="emailResendOk === true; else emailResendFalse">
          <div class='subtitle'>Un lien pour confirmer votre email vient de vous être envoyé</div>
        </div>
        <ng-template #emailResendFalse>
          <div class='subtitle'>Cliquer sur le bouton pour obtenir un nouveau code de validation.</div>
        </ng-template>

      <button class="ghost-round full-width" [value]="userNameIdKefi" (click)="resendVerificationCode()">Cliquez ici !</button>
      </div>


    </ng-template>


  </div>
</div>
<app-footer></app-footer>
