<div id="fix-side-bar">
<div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a routerLink="/admin">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
                            Tableau de bord
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/admin/member_list/search_all/order_id/option_none/page_1/offset_0/limit_10/way_desc">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
                           Liste des membres
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/admin/ajout_membre">
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
                            Forms
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/admin/creation_evenement">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
                            Pages
                        </span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
                            Graphs and Statistics
                        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
                           Quotes
                        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-table fa-2x"></i>
        <span class="nav-text">
                            Tables
                        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
                            Maps
                        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
                            Documentation
                        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
                            Logout
                        </span>
      </a>
    </li>
  </ul>
</nav>


</div>
