.display-meesage{
  margin: 10% auto 3% 0;
}
.display-message-class{
  z-index: 5;
  position: absolute;
  top:20%
}

@media (max-width: 500px){
  .spinner-load{
    margin-top: 50%;
    width:50%


  }
}

