<app-nav-bar [loginCheck]="connect" [userInfo]="roleUserInfo"></app-nav-bar>
<!-- Displaying  succes or error message !-->

<div class="display-message-class" *ngIf="messageDisplay === 'receiveMessage' then successMessage" ></div>
<ng-template #successMessage>
<app-succes class="display-meesage"></app-succes>
</ng-template>


<div class="display-message-class" *ngIf="messageDisplay === 'error' then errorMessage" ></div>
<ng-template #errorMessage>
  <app-error class="display-meesage"></app-error>
</ng-template>
<!-- The routed views render in the <router-outlet>-->
<div [@routeAnimations]="prepareRoute(outlet)">
<router-outlet #outlet="outlet" ></router-outlet>
</div>

