


  <nav class="page__menu page__custom-settings menu nav_logo">

    <a routerLink="accueil" id="logo_link"  ><img  src="assets/logo_nav_kefii.png" alt="logo_kefi" title="logo_kefi" class="logo_kefi"></a>
    <input type="checkbox" id="menu_checkbox" class="burger_menu">
    <label for="menu_checkbox" class="burger_menu">
      <div></div>
      <div></div>
      <div></div>
    </label>
    <ul class="menu__list r-list">

      <!--<li class="menu__group"><a routerLink="accueil" class="menu__link r-link text-underlined">Accueil</a></li> !-->
      <li class="menu__group"><a routerLink="fondateurs" class="menu__link r-link text-underlined">Fondateurs</a></li>
      <li class="menu__group" ><a  routerLink="membres/offset_0/limit_8/search_all/job_all/page_1" class="menu__link r-link text-underlined">Membres</a></li>
      <li class="menu__group"><a routerLink="evenements" class="menu__link r-link text-underlined">Événements</a></li>
      <!--
      <li class="menu__group"><a routerLink="articles" class="menu__link r-link text-underlined">Articles</a></li>
      !-->
      <li class="menu__group"><a routerLink="contact" class="menu__link r-link text-underlined">Contact</a></li>
      <div *ngIf="infosMemberPage === 'membre' ">
        <li class="menu__group"><a routerLink="espace_membre" class="menu__link r-link text-underlined">Profil</a></li>
      </div>

      <div *ngIf="infosMemberPage === 'admin'">
        <li class="menu__group"><a routerLink="admin" class="menu__link r-link text-underlined">Admin</a></li>
      </div>

      <!--
      <div *ngIf="UserLogInfo.connect">

        <li class="menu__group menu__link r-link text-underlined"  id="firstNameUser" >{{UserLogInfo.username}}</li>

      </div>
    !-->
     <!-- <div *ngIf="!UserLogInfo.connect;then block else elseBlock"> </div>!-->
      <div *ngIf="infosMemberPage === 'logout';then block else elseBlock"> </div>
        <ng-template  #block>
      <li class="menu__group"><a routerLink="login" class="menu__link r-link text-underlined" [state]="{ data: {Info:transferInfoConnexion}}" >Connexion</a></li>
        </ng-template>
      <ng-template #elseBlock>
      <li  class="menu__group " (click)="logOut()" ><a routerLink="#" class="menu__link r-link text-underlined">Deconnexion</a> </li>
      </ng-template>
      <!--<li *ngIf="verifyConnection" class="menu__group"><a routerLink="member" class="menu__link r-link text-underlined">Membre Area</a></li>!-->
    </ul>
  </nav>


