@media (min-width: 1190px) {
.page__menu{
  /*padding-top: 2%;*/
  width: 5%;

}
  .burger_menu{
    display: none;
  }

.menu{

  background-color: #151414;
}
nav{
  z-index: 4;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #151414;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.nav_logo{

  z-index: 4;

  margin: 0 auto;
  width: 100%;
  padding: 0.2% 0.2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul{

  background-color: #151414;
}
.logo_kefi{
  z-index: 5;
  width: 50%;
}
.logo_kefi  img{
  z-index: 5;
  width: 20%;
  margin-top: 10%;
}
.menu__list{
  background-color: #151414;
  color: white;
}
/*
=====
DEPENDENCES
=====
*/

#firstNameUser{
  color: white;
}

.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list{
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu{
  --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link{
  display: var(--menuLinkDisplay, block);
}

/*
focus state
*/

.menu__link:focus{
  outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
  outline-offset: var(--menuLinkOutlineOffset);
}

/*
fading siblings
*/

.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(255, 255, 255, 0.6));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu{

  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list{
  display: flex;
}

.menu__link{
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

/*
=====
TEXT UNDERLINED
=====
*/

.text-underlined{
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before{
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after{
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
  --menuBackgroundColor: #25120e;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: rgba(255,255,255,0.6);
  --menuLinkOutlineOffset: -.5rem;
}
}
@media (min-width:769px) and (max-width: 1190px) {

  .page__menu{
    /*padding-top: 2%;*/
    width: 5%;

  }
  .burger_menu{
    display: none;
  }
  .menu{

    background-color: #151414;
  }
  nav{
    z-index: 4;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #151414;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .nav_logo{

    z-index: 4;

    margin: 0 auto;
    width: 100%;
    padding: 0.2% 0.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ul{
    width: 80%;
    background-color: #151414;
  }
  .logo_kefi{
    z-index: 5;
    width: 40%;
  }
  .logo_kefi  img{
    z-index: 5;
    width: 10%;
    margin-top: 10%;
  }
  #logo_link{
    width: 20%;
  }
  .menu__list{
    background-color: #151414;
    color: white;
  }
  /*
  =====
  DEPENDENCES
  =====
  */

  #firstNameUser{
    color: white;
  }


  .r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }

  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }

  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }


  /*
  =====
  CORE STYLES
  =====
  */

  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }

  .menu__link{
    display: var(--menuLinkDisplay, block);
  }

  /*
  focus state
  */

  .menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }

  /*
  fading siblings
  */

  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(255, 255, 255, 0.6));
  }

  /*
  =====
  PRESENTATION STYLES
  =====
  */

  .menu{

    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }

  .menu__list{
    display: flex;
  }

  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }

  /*
  =====
  TEXT UNDERLINED
  =====
  */

  .text-underlined{
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
  }

  .text-underlined::before,
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
  }

  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%);
  }

  .text-underlined::after{
    right: 50%;
    transform: translateX(50%);
  }

  .text-underlined:hover::before,
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }

  /*
  =====
  SETTINGS
  =====
  */

  .page__custom-settings{
    --menuBackgroundColor: #25120e;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: rgba(255,255,255,0.6);
    --menuLinkOutlineOffset: -.5rem;
  }
}

/*
=====
DEMO
=====
*/



@media (max-width: 769px) {
.burger_menu{
  display: none;
}
  .page__menu{
    /*padding-top: 2%;*/
    width: 5%;

  }

  .menu{

    background-color: #151414;
  }
  nav{
    z-index: 4;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #151414;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .nav_logo{

    z-index: 4;

    margin: 0 auto;
    width: 100%;
    padding: 0.2% 0.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ul{
    display: flex;
    flex-wrap: wrap;

    width: 60%;
    background-color: #151414;
  }
  .logo_kefi{
    margin: 3% auto ;
    z-index: 5;
    width: 80%;
  }
  .logo_kefi  img{
    z-index: 5;
    width: 80%;
    margin-top: 10%;
  }
  #logo_link{
    width: 20%;
  }
  .menu__list{
    background-color: #151414;
    color: white;
  }
  /*
  =====
  DEPENDENCES
  =====
  */

  #firstNameUser{
    color: white;
  }


  .r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }

  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }

  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }


  /*
  =====
  CORE STYLES
  =====
  */

  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }

  .menu__link{
    display: var(--menuLinkDisplay, block);
  }

  /*
  focus state
  */

  .menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }

  /*
  fading siblings
  */

  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(255, 255, 255, 0.6));
  }

  /*
  =====
  PRESENTATION STYLES
  =====
  */

  .menu{

    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }

  .menu__list{
    display: flex;
  }

  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }

  /*
  =====
  TEXT UNDERLINED
  =====
  */

  .text-underlined{
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
  }

  .text-underlined::before,
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
  }

  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%);
  }

  .text-underlined::after{
    right: 50%;
    transform: translateX(50%);
  }

  .text-underlined:hover::before,
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }

  /*
  =====
  SETTINGS
  =====
  */

  .page__custom-settings{
    --menuBackgroundColor: #25120e;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: rgba(255,255,255,0.6);
    --menuLinkOutlineOffset: -.5rem;
  }
}
@media (min-width: 150px) and (max-width: 499px) {
  .burger_menu{
    display: none;
  }

  .page__menu{
    /*padding-top: 2%;*/
    width: 5%;

  }

  .menu{
    width: 100%;
    background-color: #151414;
  }
  nav{
    z-index: 4;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #151414;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .nav_logo{

    z-index: 4;

    margin: 0 auto;
    width: 100%;
    padding: 0.2% 0.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ul{
    display: flex;
    flex-direction: column;

    width: 60%;
    background-color: #151414;
  }
  .logo_kefi{
    margin: 30% auto  ;
    z-index: 5;
    width: 150%;
  }
  .logo_kefi  img{
    z-index: 5;
    width: 80%;
    margin-top: 10%;
  }
  #logo_link{
    width: 20%;
  }
  .menu__list{
    background-color: #151414;
    color: white;
  }
  /*
  =====
  DEPENDENCES
  =====
  */

  #firstNameUser{
    color: white;
  }


  .r-link{

    display: var(--rLinkDisplay, inline-flex) !important;
  }

  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }

  .r-list{

    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }


  /*
  =====
  CORE STYLES
  =====
  */

  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }

  .menu__link{

    display: var(--menuLinkDisplay, block);
  }

  /*
  focus state
  */

  .menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }

  /*
  fading siblings
  */

  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(255, 255, 255, 0.6));
  }

  /*
  =====
  PRESENTATION STYLES
  =====
  */

  .menu{

    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }
  ._ngcontent-wpe-c30{
    display: none;
  }
  ._ngcontent-sry-c30{
    display: none
  }

  ._ngcontent-mcx-c30{
    display: none;
  }

  .menu__link{
    padding: var(--menuLinkPadding, 0.5rem 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }

  /*
  =====
  TEXT UNDERLINED
  =====
  */

  .text-underlined{
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
  }

  .text-underlined::before,
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
  }

  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%);
  }

  .text-underlined::after{
    right: 50%;
    transform: translateX(50%);
  }

  .text-underlined:hover::before,
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }

  /*
  =====
  SETTINGS
  =====
  */

  .page__custom-settings{
    --menuBackgroundColor: #25120e;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: rgba(255,255,255,0.6);
    --menuLinkOutlineOffset: -.5rem;
  }

}
