@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.container{
  margin-top: 5%;
}
h1, h2, h4, .meta-data {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3em;
}

h1:first-of-type {
  font-family: "Old Standard TT", serif;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4em;
}

h1:last-of-type {
  margin-top: 4em;
  font-size: 0.7em;
  text-align: right;
  color: black;
}

h4 {
  font-weight: normal;
  font-size: 0.8em;
}

hr {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 2.42105263em;
  margin-bottom: 1.42105263em;
}

p {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

i {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.meta-data {
  display: inline-block;
  background-color: #e74c3c;
  color: white;
  padding: 2px 4px;
}

.profile {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50% 50% 50% 0;
}

.crew-members {
  display: flex;
}

.member {
  border-left: 8px solid #e74c3c;
  flex: 1;
  padding-left: 0.5em;
  box-sizing: border-box;
}
.member p {
  margin: 0;
  padding: 0;
  -webkit-column-count: 1;
}
.member .thumb {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50% 50% 50% 0;
}
.member .crew-text {
  font-size: 0.5em;
  width: 80%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }

  p {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .crew-members {
    flex-flow: row wrap;
  }

  .member {
    margin-bottom: 20px;
    flex: 1 100%;
  }
}
