
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@media (max-width: 769px) {
  .scrollHalf__grupo__imagen{
    width: 100%;
  }
.profile{
  margin: 20% 10% 0 10%;
  width: 80%;
}
}
.container{
  margin-top: 5%;

}


.scrollHalf { position: relative}
/*.scrollHalf__grupo { opacity: calc(1/(1+(var(--visible-y)*var(--visible-y)*var(--visible-y)*var(--visible-y)))); transition: all 200ms ease-in-out;}*/


.scrollHalf__grupo {  transition: all 200ms ease-in-out; }
.scrollHalf__grupo__imagen { overflow: hidden; }
.scrollHalf__grupo__contenido { padding: 3rem;     }


.scrollHalf__grupo[data-scroll="out"] { opacity: 0;}
.scrollHalf__grupo[data-scroll="in"] { opacity: calc(var(--visible-y)*1.9);  }


@media screen and (min-width:900px) {
  .scrollHalf__grupo { min-height: 100vh;}
  .scrollHalf__grupo__imagen { position: fixed; top: 0; left: 0; width: 50vw;}
  .scrollHalf__grupo__imagen img {  min-height: 100vh;  min-width: 50vw; }
  .scrollHalf__grupo__contenido { margin: 0 3vw 0 52vw;}
}


h1, h2, h4, .meta-data {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3em;
}

h1:first-of-type {
  font-family: "Old Standard TT", serif;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4em;
}

h1:last-of-type {
  margin-top: 2em;
  font-size: 2.2rem;
  text-align: right;
  color: black;
}

h4 {
  font-weight: normal;
  font-size: 0.8em;
}

hr {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 2.42105263em;
  margin-bottom: 1.42105263em;
}

p {

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}
.scrollHalf__grupo__contenido{
  margin-top: 3%;
  padding: 5%;
}
i {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.meta-data {
  display: inline-block;
  background-color: #e74c3c;
  color: white;
  padding: 2px 4px;
}



.crew-members {
  display: flex;
}

.member {
  border-left: 8px solid #e74c3c;
  flex: 1;
  padding-left: 0.5em;
  box-sizing: border-box;
}
.member p {
  margin: 0;
  padding: 0;
  -webkit-column-count: 1;
}
.member .thumb {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50% 50% 50% 0;
}
.member .crew-text {
  font-size: 0.5em;
  width: 80%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }

  .scrollHalf__grupo__imagen{
    margin-top: 20%;
  }


  p {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .crew-members {
    flex-flow: row wrap;
  }
  .profile{
    margin: 50% 10% 0 10%;
    width: 80%;
  }

  .member {
    margin-bottom: 20px;
    flex: 1 100%;
  }
}
