
<div class="container">
  <section id="event-sections"  *ngIf="eventsKefi; else spinnerLoading">
    <div *ngFor="let event of eventsKefi">

    <div class="blog-card spring-fever" >
      <img id="event_kefi_id" src="https://waisatusbucket.s3.eu-west-3.amazonaws.com/events/{{event.main_photo}}{{event.photos[0]}}" title="{{event.title}}" alt="{{event.title}}">
      <div class="title-content" >
        <h3>{{event.title}}</h3>
      </div>
      <div class="card-info">

        <a href="evenements/{{event.event_matricule}}">Détails<span class="licon icon-arr icon-black"></span></a>
      </div>
      <!---
      <div class="utility-info">
        <ul class="utility-list">
          <li><span class="licon icon-like"></span><a href="#">2</a></li>
          <li><span class="licon icon-com"></span><a href="#">12</a></li>
          <li><span class="licon icon-dat"></span>{{event.event_date}}</li>
          <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">{{event.city}}</a></li>
        </ul>
      </div>
      !-->


    </div><!-- /.blog-card -->
    </div>

  </section>


</div>
<ng-template #spinnerLoading >
  <div class="kefi-loadingTime">
    <div class="spinner-load">
      <mat-spinner></mat-spinner>
    </div>


    <p>Chargement de la page</p>

  </div>
</ng-template>

<app-footer></app-footer>
