<div class='bold-line'></div>
  <div *ngIf="emailToVerifyEmailSend">
  <app-success-change-pw-message [dataPage]="emailToVerifyEmailSend"  *ngIf="emailToVerifyEmailSend.status === 'email_send'" ></app-success-change-pw-message>
  <app-error-change-pw-message [dataError]="emailToVerifyEmailSend" *ngIf="emailToVerifyEmailSend.status === 'email_not_send'"></app-error-change-pw-message>
  </div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Mot de passe oublié</div>
      <div class='input-fields'>
        <form #loginForm="ngForm" (ngSubmit)="forgetPasswordSubmit()" novalidate>
          <input name="email" placeholder='email' class='input-line full-width' ngModel required #email="ngModel" [pattern]="emailPattern" type="email" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="emailToCheck.email">
          <div *ngIf="email.errors && (email.invalid || email.touched)">
            <small class="warning-text" *ngIf="email.touched && email.errors.required">L'email est requis</small>
            <small class="warning-text" *ngIf="email.errors.pattern">L'email doit etre valide</small>

          </div>


          <div id="button_form_login"><button [disabled]="loginForm.form.invalid" type="submit" class='ghost-round full-width'>Confirmer</button></div>

        </form>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
