
<div class="container" *ngIf="tokenUser; else waitForToken">
  <div *ngIf="tokenUser.first_connexion === 0 && checkingStatsConnexionFirst !== 'success_send';then block else elseBlock"> </div>

  <ng-template  #block>
    <app-welcome-modal (outPutRefresh)="checkIfUpdateProfile($event)"  [userId]="userName" [userFirstName]="tokenUser"></app-welcome-modal>
  </ng-template>

  <ng-template #elseBlock>
  <div class="main-body" *ngIf="tokenUser">
    <!---  success enregitrement des données!-->

    <div class="col-sm-12 " id="succes-connexion-display" *ngIf="successDisplaySaveData === true" >
      <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
        <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true"><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjVtMfrsbLwAhXryzgGHdXMB7I4ChAWMAh6BAgIEAM&url=https%3A%2F%2Fwww.ftcab.com%2F&usg=AOvVaw3v44T5yZdpdgVq0agYf0eg" target="_blank">
                    <i class="fa fa-times greencross"></i>
                    </a></span>
          <span class="sr-only">Close</span>
        </button>
        <i class="start-icon far fa-check-circle faa-tada animated"></i>
        <strong class="font__weight-semibold">Enregistrement reussi de vos données</strong>
      </div>


    </div>
    <!---  Failed enregitrement des données!-->
    <div class="col-sm-12" id="error_connexion_message" *ngIf="failedDisplaySaveData === true">
      <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
        <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
          <span class="sr-only">Close</span>
        </button>
        <i class="start-icon far fa-times-circle faa-pulse animated"></i>
        <strong class="font__weight-semibold">Réessayez!</strong> Une erreur est survenu lors de l'enregistrement de vos données
      </div>
    </div>

    <!-- /Breadcrumb -->

    <div class="profil-position">
      <div class="top-part">
        <div class="card">
          <div class="card-body">

            <div class="item-card">

                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <label for="imageUpload" id="imgUpload">  <i class="fas fa-camera-retro">
                    <input id="imageUpload" type='file'  accept=".png, .jpg, .jpeg" (change)="onFileSelect($event)" />
                   </i> </label>
                  </div>
                  <div class="avatar-preview"  *ngIf="tokenUser.photo_url">


                    <div  id="imagePreview" *ngIf="tokenUser.photo_url === defaultWomanUrl || tokenUser.photo_url === defaultMenUrl; else defaultMen"  style="background-image: url(https://mysterious-reaches-96425.herokuapp.com/{{photoChange}})" >

                    </div>

                    <ng-template #defaultMen>
                      <div  id="imagePreviewDefault"   style="background-image: url(https://waisatusbucket.s3.eu-west-3.amazonaws.com/users_kefi/{{photoChange}})">

                      </div>
                    </ng-template>
                </div>

                    <div class="spinner-load" *ngIf="checkIfEmailUpdate === false">
                      <mat-spinner></mat-spinner>
                    </div>



                </div>


                <div class="card-member">
                <h4>{{tokenUser.first_name}}</h4>
                  <div >
                <p class="text-secondary mb-1" *ngIf="tokenUser.job">{{tokenUser.job}}</p>
                  </div>

                <p class="text-muted font-size-sm" *ngIf="tokenUser.city "> {{tokenUser.city}}, {{tokenUser.postal_code}}, {{tokenUser.country}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-member">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" *ngIf="tokenUser.linkedin || editToValid" >
              <h6 class="mb-0"><a href="{{tokenUser.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a> </h6>
              <span class="text-secondary" *ngIf="editToValid === false; else linkedinToEdit"></span>
              <ng-template #linkedinToEdit>
                <input type="text" id="linkedinToEdit" ngModel required #titleLinkedin="ngModel"  value="{{tokenUser.linkedin}}" [(ngModel)]="newFormModel.linkedinAddress">

              </ng-template>
            </li>

          </ul>
        </div>
      </div>
      <div class="data_user_infos">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nom</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                {{tokenUser.first_name}} {{tokenUser.name}}
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{tokenUser.email}}
              </div>
              <div class="col-sm-9 text-third">
                <p>Non visible</p>
              </div>
            </div>
            <hr>

            <div class="row" *ngIf="tokenUser.news_letter || tokenUser.news_letter === 0">
              <div class="subcribe-flex">
              <div class="col-sm-9">
                <h6 class="mb-0">Inscription NewsLetter <span class="required">*</span></h6>
              </div>
              <div class="newsLetterClass" *ngIf="editToValid === false; else newsLetterToEdit">
                <div class="col-sm-9 text-secondary" *ngIf="tokenUser.news_letter === 1; else newLetterTrue">
                  <p>Oui</p>
                </div>
                <ng-template #newLetterTrue>
                  <div class="col-sm-9 text-secondary" >
                    <p>Non</p>
                  </div>
                </ng-template>
              </div>
              <ng-template #newsLetterToEdit>
                <div class="question-answer">
                  <div>
                    <input type="radio" value="1" id="radio_newsLetter1" name="newsLetter"  ngModel required #newsLetter ="ngModel" [class.is-invalid]="newsLetter.invalid && newsLetter.touched"   [(ngModel)]="newFormModel.consentNewsLetter"  />
                    <label for="radio_newsLetter1" class="radio"><span>Oui</span></label>
                  </div>
                  <div>
                    <input type="radio" value="0" id="radio_newsLetter2" name="newsLetter" ngModel required  #newsLetter ="ngModel" [class.is-invalid]="newsLetter.invalid && newsLetter.touched" [(ngModel)]="newFormModel.consentNewsLetter"  />
                    <label for="radio_newsLetter2" class="radio"><span>Non</span></label>
                  </div>
                </div>
              </ng-template>

            </div>
            </div>
            <hr>

            <div class="row" *ngIf="tokenUser.public_profil || tokenUser.public_profil === 0">
              <div class="subcribe-flex">
              <div class="col-sm-9">
                <h6 class="mb-0">Profil Public<span class="required">*</span></h6>
              </div>
              <div class="newsLetterClass" *ngIf="editToValid === false; else publicProfileToEdit">
                <div class="col-sm-9 text-secondary" *ngIf="tokenUser.public_profil === 1; else publicProfileTrue">
                  <p>Oui</p>
                </div>
                <ng-template #publicProfileTrue>
                  <div class="col-sm-9 text-secondary" >
                    <p>Non</p>
                  </div>
                </ng-template>
              </div>
              <ng-template #publicProfileToEdit>
                <div class="question-answer">
                  <div>
                    <input type="radio" value="1" id="radio_publicProfile1" name="radio_publicProfile1"  ngModel required #publicProfile ="ngModel" [class.is-invalid]="publicProfile.invalid && publicProfile.touched"  [(ngModel)]="newFormModel.profileVisibility"  />
                    <label for="radio_publicProfile1" class="radio"><span>Oui</span></label>
                  </div>
                  <div>
                    <input type="radio" value="0" id="radio_publicProfile2" name="radio_publicProfile1" ngModel required  #publicProfile ="ngModel" [class.is-invalid]="publicProfile.invalid && publicProfile.touched" [(ngModel)]="newFormModel.profileVisibility"  />
                    <label for="radio_publicProfile2" class="radio"><span>Non</span></label>
                  </div>
                </div>
              </ng-template>
              </div>
            </div>
            <hr>

            <div class="row" *ngIf="tokenUser.company || editToValid === true">
              <div class="col-sm-3">
                <h6 class="mb-0">Entreprise / Société *</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editToValid === false ; else companyEdit">
                {{tokenUser.company}}
              </div>
              <ng-template #companyEdit>
                <input type="text" name="companyToEdit" id="companyToEdit" value="{{tokenUser.company}}"  required #companyToEdit="ngModel"  [class.is-invalid]="companyToEdit.invalid && companyToEdit.touched" [(ngModel)]="newFormModel.company"/>
                <div *ngIf="companyToEdit.errors && (companyToEdit.invalid || companyToEdit.touched)">
                  <small class="warning-text" *ngIf="companyToEdit.touched && companyToEdit.errors">Le lieu de travail est requis</small>

                </div>
              </ng-template>
            </div>
            <hr>
            <div class="row" *ngIf="tokenUser.fix !== null">
              <div class="col-sm-3" >
                <h6 class="mb-0">Téléphone fix</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editToValid === false; else fixPhoneEdit">
                {{tokenUser.fix}}
              </div>
              <ng-template #fixPhoneEdit>
                <input type="text" name="PhoneToEdit" id="PhoneToEdit" value="{{tokenUser.fix}}"/>
              </ng-template>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile<span class="required">*</span></h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editToValid === false; else mobilePhoneEdit">
                {{tokenUser.mobile}}
              </div>
              <ng-template #mobilePhoneEdit>
                <input type="text" name="mobileToEdit" id="mobileToEdit" value="{{tokenUser.mobile}}" required #mobileToEdit="ngModel"  [class.is-invalid]="mobileToEdit.invalid && mobileToEdit.touched" [(ngModel)]="newFormModel.mobile"/>
                <div *ngIf="mobileToEdit.errors && (mobileToEdit.invalid || mobileToEdit.touched)">
                  <small class="warning-text" *ngIf="mobileToEdit.touched && mobileToEdit.errors">mon numero de téléphone</small>

                </div>
              </ng-template>
            </div>
            <hr>
            <div class="row" *ngIf="tokenUser.address">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{tokenUser.adress}}
              </div>
            </div>
            <hr>

            <div class="row" *ngIf="tokenUser.domain_job">
              <div class="col-sm-3">
                <h6 class="mb-0">Domaine d'activité<span class="required">*</span></h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editToValid === false; else domainToEdit">
                {{tokenUser.domain_job}}
              </div>
              <ng-template #domainToEdit>
                <input type="text" name="JobDomainToEdit" id="JobDomainToEdit" value="{{tokenUser.domain_job}}" ngModel required #JobDomainToEdit="ngModel"  [class.is-invalid]="JobDomainToEdit.invalid && JobDomainToEdit.touched" [(ngModel)]="newFormModel.subjectJob"/>
                <div *ngIf="JobDomainToEdit.errors && (JobDomainToEdit.invalid || JobDomainToEdit.touched)">
                  <small class="warning-text" *ngIf="JobDomainToEdit.touched && JobDomainToEdit.errors">Votre domaine de travail est requis</small>

                </div>
              </ng-template>
            </div>
            <hr>

            <div class="row" *ngIf="tokenUser.job">
              <div class="col-sm-3">
                <h6 class="mb-0">Profession<span class="required">*</span></h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editToValid === false; else jobToEdit">
                {{tokenUser.job}}
              </div>
              <ng-template #jobToEdit>
                <input type="text" name="JobToEdit" id="JobToEdit"  value="{{tokenUser.job}}"  ngModel required #JobToEdit="ngModel"  [class.is-invalid]="JobToEdit.invalid && JobToEdit.touched" [(ngModel)]="newFormModel.jobTitle"/>
                <div *ngIf="JobToEdit.value === ''">
                  <small class="warning-text" *ngIf="JobToEdit.touched && JobToEdit.errors">Votre profession est requise</small>

                </div>
              </ng-template>
            </div>
            <hr>


            <div class="row" *ngIf="parseLookingForInfos">
              <div class="col-sm-3">
                <h6 class="mb-0">Mes recherches</h6>
              </div>

              <ul *ngIf="editToValid === false; else lookingForEdit">
                <li *ngIf="parseLookingForInfos.networkExpenssion"> Je souhaite développer mon réseau</li>
                <li *ngIf="parseLookingForInfos.findpartners"> Je souhaite trouver des investisseurs ou partenaires pour mon projet</li>
                <li *ngIf="parseLookingForInfos.getSomeContract"> Je souhaite trouver des contrats</li>
                <li *ngIf="parseLookingForInfos.pitchProject"> Je souhaite Pitcher mon projet</li>
                <li *ngIf="parseLookingForInfos.other"> Autre raison</li>


              </ul>

            <ng-template #lookingForEdit>
              <div class="question">
                <p>Ce que vous rechercher lors des évenements de l'association Kefi<span class="required">*</span></p>
                <div>
                  <input type="checkbox" id="expendNetwork" name="expendNetwork" #expendNetwork [(ngModel)]="newFormModel.lookingFor.networkExpenssion">
                  <label for="expendNetwork">Développer mon réseau</label>
                </div>

                <div>
                  <input type="checkbox" id="getSomeContract" name="getSomeContract" value="getContracts" #getContracts [(ngModel)]="newFormModel.lookingFor.getSomeContract">
                  <label for="getSomeContract">Obtenir des contrats</label>
                </div>

                <div>
                  <input type="checkbox" id="findPartners" name="findPartners" value="findPartners"  #findPartners [(ngModel)]="newFormModel.lookingFor.findpartners" >
                  <label for="findPartners">Trouver des partenaires</label>
                </div>

                <div>
                  <input type="checkbox" id="pitchProject" name="pitchProject" value="pitchProject" #pitchProject [(ngModel)]="newFormModel.lookingFor.pitchProject">
                  <label for="pitchProject">Je souhaite pitcher</label>
                </div>

                <div>
                  <input type="checkbox" id="other" name="other" value="other" #other [(ngModel)]="newFormModel.lookingFor.other">
                  <label for="other">Autres</label>
                </div>
              </div>
            </ng-template>
            </div>

            <hr>

            <div class="row" *ngIf="tokenUser.description || tokenUser.description === ''">
              <div class="col-sm-3" *ngIf="tokenUser.description !== '' || editToValid === true">
                <h6 class="mb-0">Description</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editToValid === false; else descriptionEdit">
                {{tokenUser.description}}
              </div>
              <ng-template #descriptionEdit>
                <textarea cols="30" name="description" *ngIf="tokenUser.description !== ''; else textArea" [(ngModel)]="newFormModel.description">
                  {{tokenUser.description}}
                </textarea>
                <ng-template #textArea>
                  <textarea cols="30" name="description" [(ngModel)]="newFormModel.description" >

                </textarea>
                </ng-template>

              </ng-template>
            </div>
            <hr>


            <div class="row">
              <div class="col-sm-12" *ngIf="editToValid === false; else otherButtons"  >
                <a  class="btn btn-info " id="edit" (click)="editFromPanel()">Mise à jour</a>

              </div>
              <ng-template #otherButtons>
                <a  class="btn btn-info" id="cancel" (click)="cancelFromPanel()">Annuler</a>

                <a  class="btn validation-btn " id="valid" (click)="validFromPanel()">Enregistrer</a>
              </ng-template>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>


  </ng-template>
</div>

<ng-template #waitForToken>
  <div class="kefi-loadingTime">
    <div class="spinner-load">
      <mat-spinner></mat-spinner>
    </div>


    <p>Chargement de la page</p>

  </div>
</ng-template>
<app-footer></app-footer>
