@media (min-width: 1190px) {
  .kefi-loadingTime {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin: 20% auto;
    text-align: center;
  }

  .spinner-load {
    margin: 0 auto;
  }

  .kefi-loadingTime p {
    margin-top: 5%;
    padding: 2%;
    width: 100%;
    font-size: 1.5rem;

  }

  .main-body {
    padding: 15px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  }

  .container {
    width: 80%;
    margin: 8% auto 0 auto;
  }

  .top-part {
    width: 30%;
  }

  .item-card {
    text-align: center;
  }

  .profil-position {

    display: flex;
    flex-direction: row;
  }

  .data_user_infos {
    width: 70%;
  }

  .card-member {
    margin-top: 3px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  .btn-info{
    color:#6FA4CD
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }

  .aside-asso {
    margin-top: -1%;
    position: absolute;
    background-color: #151414;
    width: 4%;
    height: 100vh;
  }

  textarea {
    margin: 3% auto;
    width: 80%;
    height: 300px;
  }

  .mb-0 {
    margin: 0 auto;

  }

  .fa-linkedin {
    font-size: 50px;
  }

  .validation-btn {
    margin-left: 5%;
    background-color: green;
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }

  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  input[type=file] {
    display: none;

  }

  .imgUpload {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }

  label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .fa-camera-retro {
    font-size: 20px;

  }

  .newsLetterClass {
    width: 100%;
  }

  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .required{
    color: red;
  }
  .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .subcribe-flex{
    width:100%;
    display: flex;
    flex-direction: row;

  }

  .spinner-load{
    width: 50%;
  }
}


@media (min-width: 1025px) {
  .kefi-loadingTime {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin: 20% auto;
    text-align: center;
  }

  .spinner-load {
    margin: 0 auto;
  }

  .kefi-loadingTime p {
    margin-top: 5%;
    padding: 2%;
    width: 100%;
    font-size: 1.5rem;

  }

  .main-body {
    padding: 15px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  }

  .container {
    width: 80%;
    margin: 8% auto 0 auto;
  }

  .top-part {
    width: 30%;
  }

  .item-card {
    text-align: center;
  }

  .profil-position {

    display: flex;
    flex-direction: row;
  }

  .data_user_infos {
    width: 70%;
  }

  .card-member {
    margin-top: 3px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }

  .aside-asso {
    margin-top: -1%;
    position: absolute;
    background-color: #151414;
    width: 4%;
    height: 100vh;
  }

  textarea {
    margin: 3% auto;
    width: 80%;
    height: 300px;
  }

  .mb-0 {
    margin: 0 auto;

  }

  .fa-linkedin {
    font-size: 50px;
  }

  .validation-btn {
    margin-left: 5%;
    background-color: green;
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }

  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  input[type=file] {
    display: none;

  }

  .imgUpload {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }

  label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .fa-camera-retro {
    font-size: 20px;

  }

  .newsLetterClass {
    width: 100%;
  }

  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .col-sm-3{
    max-width: 100%;
  }
}


@media (max-width: 499px) {



    .container{
      margin: 20% auto 30% auto;
    }

  .row{
    margin-left: 0;
    margin-right: 0;
  }


  .kefi-loadingTime {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin: 20% auto;
    text-align: center;
  }

  .spinner-load {
    margin: 0 auto;
  }

  .kefi-loadingTime p {
    margin-top: 5%;
    padding: 2%;
    width: 100%;
    font-size: 1.5rem;

  }

  .main-body {
    padding: 15px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  }



  .top-part {
    width: 100%;
  }

  .item-card {
    text-align: center;
  }


  .data_user_infos {
    width: 100%;
  }

  .card-member {
    margin-top: 3px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  .btn-info{
    color:#6FA4CD
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }

  .aside-asso {
    margin-top: -1%;
    position: absolute;
    background-color: #151414;
    width: 4%;
    height: 100vh;
  }

  textarea {
    margin: 3% auto;
    width: 80%;
    height: 300px;
  }

  .mb-0 {
    margin: 0 auto;

  }

  .fa-linkedin {
    font-size: 50px;
  }

  .validation-btn {
    margin-left: 5%;
    background-color: green;
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }

  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  input[type=file] {
    display: none;

  }

  .imgUpload {
    display: inline-block;
    width: 80%;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }

  label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .fa-camera-retro {
    font-size: 20px;

  }

  .newsLetterClass {
    width: 100%;
  }

  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .required{
    color: red;
  }
  .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .subcribe-flex{
    width:100%;
    display: flex;
    flex-direction: row;

  }

}
